<!DOCTYPE html>
<html>
<head>
  <title>Phonebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if session[:current_user] %>
  <div>
    <div style='float:left'>
      <%= link_to "Import", contacts_path, :method => :get %> | <%= link_to "Export", lists_path, :method => :get %> | <%= link_to "Search", contacts_search_path, :method => :get %>
    </div>
    <div style='float:right'>
      <%= link_to 'Log out', logout_path, method: :delete %>
    </div>
  </div>
    
  <% end %>
<br />
<% flash.each do |key, value| %>
<div id="flashes">
    <div class="alert <%= key %>"><%= value %></div>
</div>
<% end %>
<%= yield %>

</body>
</html>
